{{ $no := 0 }}
{{ range .patient }}
    <tr>
        {{ $no = increment $no 1 }}
        <td>{{ $no }}</td>
        <td>{{ .Name }}</td>
        <td>{{ .Nik }}</td>
        <td>{{ .Gender }}</td>
        <td>{{ .PlaceOfBirth }}, {{ .DateOfBirth }}</td>
        <td>{{ .Address }}</td>
        <td>{{ .PhoneNumber }}</td>
        <td>
            <button type="button" class="btn btn-sm btn-warning edit-data" data-id="{{ .Id }}">Edit</button>
            <button type="button" class="btn btn-sm btn-danger delete-data" data-id="{{ .Id }}">Delete</button>
        </td>
    </tr>
{{ end }}